<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VoxPop</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>Добро пожаловать на VoxPop</h1>
  <p>VoxPop это веб-платформа, предоставляющая возможность любому пользователю интернета оставлять комментарии на различные темы.<br>
    Комментарии будут отображаться в общедоступной ленте.
</p>
  <div class="submit_btn">
    <a href="/comment">Let's Go!</a>
  </div>
  <p class="byDamir">Developed by Zhanguzhanov Damir (CSS Style i took from ChatGPT :) )</p>
</body>
</html>